
.VPDoc.has-aside .content-container{
  max-width: 100% !important;
}

.vp-doc table{
  margin: 0 !important;
  overflow-x: initial !important;
  display: table !important;
  width: 100%;
}
.vp-doc th, .vp-doc td {
  border: none;
}

.vp-doc tr{
  border-top: none;
}
:root {
  --vp-sidebar-bg-color: var(--vp-c-bg)
}

@media (min-width: 1680px) {
  :root{
    --vp-layout-max-width: 1680px;
  }
  .VPSidebar {
    padding-left: max(32px, calc((100% -(var(--vp-layout-max-width) - 64px)) / 2));
    width: calc((100% -(var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px);
  }
} 
@media (min-width: 1920px) {
  :root{
    --vp-layout-max-width: 1920px;
  }
  .VPSidebar {
    padding-left: max(32px, calc((100% -(var(--vp-layout-max-width) - 64px)) / 2));
    width: calc((100% -(var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px);
  }
} 