
.VPDoc.has-aside .content-container{
  max-width: 100% !important;
}

.vp-doc table{
  margin: 0 !important;
  overflow-x: initial !important;
}
.vp-doc th, .vp-doc td {
  border: none;
}

.vp-doc tr{
  border-top: none;
}
:root {
  --vp-sidebar-bg-color: var(--vp-c-bg)
}